.banner {
  background-image: url('../../images/banner.jpg');
  background-size: cover;
  background-position: bottom right;
  width: 100vw;
  height: 520px;
  border-bottom: 2px solid #FF6348;

  display: flex;
  align-items: center;
}

.banner-content {
  width: 65%;
  margin: 0 60px;
}

.banner-content p {
  font-weight: 300;
  font-size: 20px;
  color: #FF6348;
  line-height: 1.2em;
  margin-bottom: 32px;
}
